#amazon_ads
  #finding_related
    #amazon_spinner.spinner
    %p Finding related books & DVDs on Amazon.com&hellip;

:javascript
  onload_functions.push(function() { amazon_search(#{@directed_relationship.id}); });