<p>
 Welcome to Emmet. You can log in <%= link_to 'here', 'http://www.emmetlabs.com'%> with your email address and the password "<%= @password%>".
</p>
<p>
  Thank you,
</p>
<p>
  The Emmet team
</p>
