#synopses
  = render :partial => 'people/synopsis', :locals => { :person => relationship.related_people.first }
  = render :partial => 'people/synopsis', :locals => { :person => relationship.related_people.last }