#admin
  - @token.errors.full_messages.each do |error|
    .error= error
  %h1 Reset Your Password
  %p Please enter your email address and we'll send you an email containing a link that you may use to reset your password.
  - form_for '', nil, :url =>password_reset_requests_url.to_s do
    %table
      %tr
        %th
          %label{:for=>"user_email_address"} Your Email Address
        %th
        
      %tr
        %td= text_field 'user', 'email_address'
        %td.actions= submit_tag "Reset Password"
