%h1 Team

.l
  %h2 Janice Fraser, Founder and CEO
  %p Janice Fraser is cofounder and former CEO of product design firm, Adaptive Path. "When it comes to consumer experience," says Business Week's Bruce Nussbaum, "Adaptive Path is one of the best". Janice has worked in Silicon Valley for more than 15 years, including posts as VP of Web Development at multiple startups. She's been working on the Web for 12 years, and was managing Editor of GamePro in the pre-internet days.

  %p Janice has been a guest lecturer at the Stanford Entrepreneurial Thought Leadership seminar and Berkeley's Haas School of Business. She taught interaction design for the Web at San Francisco State University's Multimedia Studies Program and has been a featured speaker at countless Web and design conferences.

  %h2 David Verba, CTO
  %p David comes to Emmet Labs with 15 years of development and technical architecture experience. He is a strong leader in the Web applications space, speaking to standing-room-only crowds at events including OSCON, ETech, and RailsConf.

  %p David was formerly Director of Technology at Adaptive Path., where he served as technical lead for Measure Map (acquired by Google in 2006). Previously, David developed Whole Foods' online grocery store as well as Whole Foods' venture-backed startup WholePeople.com. David is co-author of the acclaimed book Subject to Change (O'Reilly, 2008).

.r
  .box
    %h3 Investors and Advisors
    %p Emmet Labs is fortunate to have the backing of some of the best angels in the business: Mitchell Kapor, Esther Dyson, KPG Ventures, and David Mahoney.
    %p Emmet's advisors include Oren Michels, CEO of Mashery, Feedster and WiFinder; and Karen Roter Davis, former principal of Google's New Business Development group.

