#error
  %h1 Oops, something didn't work
  
  %p Sorry, but something went wrong with the page you were trying to view.
  %p You can navigate back or you can also:
  %ul
    %li= link_to "Go to the homepage", "/"
    %li= link_to "Explore people", people_path